version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 10
    reviewers:
      - "ryemyster"
    assignees:
      - "ryemyster"
    commit-message:
      prefix: "npm"
      include: "scope"


  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    reviewers:
      - "ryemyster" 
    assignees:
      - "ryemyster"
    commit-message:
      prefix: "actions"
      include: "scope"